<div id='hand'>
  <% card_count = @current_player.cards.count %>
  <% @current_player.cards.each_with_index do |card, i| %>
    <%= content_tag :div,
      class: 'card',
      style: spread_hand_style(card, i, card_count) do
    %>
      <div class="card-body">
        <%= card.text %>

        <% if card == @current_player.cards.last %>
          <%= link_to prev_card_in_hand_game_round_path(@game),
            method: :post,
            class: 'stretched-link stretched-link-left' do
          %>
            <span class='card-arrow'>←</span>
          <% end %>

          <%= link_to next_card_in_hand_game_round_path(@game),
            method: :post,
            class: 'stretched-link stretched-link-right' do
          %>
            <span class='card-arrow'>→</span>
          <% end %>
        <% else %>
          <%= link_to '',
            prev_card_in_hand_game_round_path(@game),
            method: :post,
            class: 'stretched-link'
          %>
        <% end %>
      </div>

      <% if card == @current_player.cards.last && @round.playing_black_card? && @submission.blank? %>
        <div class="card-footer">
          <%= link_to 'Play this card',
            play_card_game_round_path(@game, card_id: card),
            method: :post,
            class: 'stretched-link'
          %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
