<div id='hand'>
  <% card_count = @current_player.cards.count %>
  <% @current_player.cards.each_with_index do |card, i| %>
    <%= content_tag :div,
      class: 'card',
      style: style(i, card_count) do
    %>
      <div class="card-body">
        <%= card %>

        <%= link_to '',
          prev_card_in_hand_game_round_path(@game),
          method: :post,
          class: 'stretched-link stretched-link-left'
        %>

        <%= link_to '',
          next_card_in_hand_game_round_path(@game),
          method: :post,
          class: 'stretched-link stretched-link-right'
        %>
      </div>

      <% if @round.playing_black_card? && @submission.blank? %>
        <div class="card-footer">
          <%= link_to 'Play',
            play_card_game_round_path(@game, card_id: card),
            method: :post,
            class: 'stretched-link'
          %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
