<% 
hasfound = 0
cache [@players, @round, @submissions] do %>
  <div id='players'>
    <ul class="list-group">
      <% @players.each do |player| %>
        <li class="list-group-item p-2">
          <% if player == @round.czar %>
            <%= image_tag 'crown.png' %>
          <% end %>
          <% if @submissions.any? { |s| s.player_id == player.id } %>
            &#10004;
          <% end %>


          <% if @game.creatorid == player.id
              hasfound=1
         end %>
          <% if @game.creatorid == @current_player.id %>
          <% if player.id != @current_player.id %>
          <%= link_to 'Kick',
            player_path(player),
            method: :delete,
            class: "float-right",
            data: { confirm: 'Are you sure you want to kick the user?' }
          %>
          <% end %>
          <% end %>
          <span class='player-name d-inline-block text-truncate'>
            <%= player %>
            <% if @game.creatorid == player.id %>
                 - Roomowner
               <% end %>
          </span>

          <% if @scores[player.id] > 0 %>
            <span class="badge badge-light badge-pill float-right">
              <%= @scores[player.id] %>
            </span>
          <% end %>
        </li>
      <% end %>

    </ul>
    <% if @round.czar 
    else 
      new_czar = @game.next_czar
      @round = @game.rounds.create!(czar: new_czar)
      redirect_to game_round_path(@game)
    end 
    if hasfound ==0 

      @game.update_attribute(:creatorid, @current_player.id) 
      @game.save

      broadcast_refresh
      %>

    <% end %>

          <% if @game.creatorid == @current_player.id %>

          <p><%= link_to 'End this round without a winner',
    end_game_round_path(@game),
    method: :post,
    class: '',
    data: { confirm: 'Are you sure you want to end this round for all players?' }
  %></p>
    <% end %>

  </div>
<% end %>
