<div id="round">
  <% if @round.ended? %>
    <p>And the winner is…</p>

    <div class="card winner">
      <div class="card-body">
        <%= formatted_card @winning_submission.card %>
      </div>
    </div>

    <p>
      Card Czar <%= @round.czar %> chose
      <strong><%= @winning_submission.player %></strong>'s
      tasteless card. The next Card Czar is
      <strong><%= @game.next_czar %></strong>.
    </p>

    <% if @current_player == @game.next_czar %>
      <h2>
        <strong>
          <%= button_to "I'm ready",
            game_round_path(@game),
            class: 'btn btn-primary btn-lg btn-block'
          %>
        </strong>
      </h2>
    <% end %>
  <% end %>
</div>
