<div id="round">
  <% if @round.ended? %>
    <h2>And the winner is <strong><%= @winning_submission.player %></strong></h2>

    <% if @winning_submission %>


      <p>

        <%= @round.czar %> chose
        <strong><%= @winning_submission.player %></strong>'s
        tasteless card.

        <% unless @game.mc_czar_option? %>
          The next Card Czar is
          <strong><%= @game.next_czar %></strong>.
        <% end %>
      </p>
    <% else %>
      <p>
        <strong>No one.</strong>
        The next Card Czar is
        <strong><%= @game.next_czar %></strong>.
      </p>
    <% end %>

    <% if @current_player == @game.next_czar %>
      <h2>
        <strong>
          <%= button_to "I'm ready",
            game_round_path(@game),
            class: 'btn btn-primary btn-lg btn-block'
          %>
        </strong>
      </h2>
    <% end %>
  <% end %>
</div>
