<%= content_tag :div,
  id: 'game',
  class: 'container',
  data: { controller: :game, slug: @game.slug } do
%>
  <div class="row">
    <div class="col">
      <%= render 'black_card' %>
    </div>
    <div class="col p-0">
      <%= render 'player_list' %>
    </div>
  </div>

  <%= render 'round' %>
  <%= render 'czar_actions' if @current_player == @round.czar %>

  <% if @current_player != @round.czar && !@round.ended? %>
    <%= render 'hand' %>
  <% end %>

  <%= render 'player_actions' %>
<% end %>
