
<%  if @round.submissions.all.count == @game.players.all.count - 1 %>
<h2>All players have submitted.</h2>
<p>Click below to select a winning card</p>
    <% @submissions.each_with_index do |submission, i| %>
    <%= content_tag :div,
      class: 'card' do
    %>
      <div class="card-body">
        <%= submission.card.text %>

      </div>
            <% end %>

<% end %>
  <h2>
    <%= button_to 'Pick a winner',
      advance_game_round_path(@game),
      class: 'btn btn-primary btn-lg btn-block'
    %>

  </h2>
<% else %>
    <h2>Current submissions.</h2>
    <% @submissions.each_with_index do |submission, i| %>
    <%= content_tag :div,
      class: 'card' do
    %>
      <div class="card-body">
        <%= submission.card.text %>

      </div>
            <% end %>

<% end %>
<% end %>


