<header>
  <nav class="navbar navbar-expand-md  navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">Cards Against Humanity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav nav  ml-auto">


      </ul>

    </div>
      </div>
  </nav>
</header>

    <main role="main">
      <div class="tab-content p-0" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">          

    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4">
            <h2>Welcome to CAH</h2>
  <p>
    An unofficial online version of the
    <a href="https://cardsagainsthumanity.com">Cards Against Humanity</a>
    game. Pairs well with friends, booze and video chat.<br> Start a new game or  join an existing one by punching the gameID into the  textbox below.
  </p>
          </div>
          <div class="col">
            <% if @current_player %>

    <% if @current_player.game %>
      <%= link_to 'Back to your game',
        @current_player.game,
        class: 'btn btn-primary btn-block mb-2'
      %>
    <% end %>
  <% end %>
              <%= form_with model: @game do |form| %>
    <%= form.submit 'Start a new game',
      class: 'btn btn-primary btn-block'
    %>

    <div class="mt-3" data-controller="options">
      <a href="#" data-action="click->options#toggle" data-target="options.link">
        Click here for additional options
      </a>

      <div class="collapse mt-2" data-target="options.list">
        <%= form.collection_check_boxes :options, @options, :code, :to_s do |option| %>
          <div class="form-check">
            <%= option.check_box class: 'form-check-input' %>
            <p>
              <strong><%= option.label class: 'form-check-label' %>:</strong>
              <%= option.object.description %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
          </div>
          <div class="col">

    <%= form_with scope: :game, url: find_games_path, class: 'form-inline' do |form| %>

      <div class="form-group mb-0 mr-2">
        <%= form.text_field :slug, class: 'form-control', placeholder: 'Please provide a valid gameID' %>
      </div>

      <%= form.submit 'Join', class: 'btn btn-primary ' %>
    <% end %>
          </div>
          



 
</div>
    

</div>
          </div>
        </div>
</div>
    </main>

    <footer class="container small text-muted text-center">

        
      <p>All creds to <a href="https://github.com/KevinBongart/">Kevin Bongart</a> and the crew behind cards against humanity.</p>
    </footer>









