<div class="container">
  <p>
    An unofficial online version of the
    <a href="https://cardsagainsthumanity.com">Cards Against Humanity</a>
    game. Pairs well with friends, booze and video chat.
  </p>

  <% if @current_player %>
    <p>Hey <%= @current_player %>.</p>

    <% if @current_player.game %>
      <%= link_to 'Back to your game',
        @current_player.game,
        class: 'btn btn-primary btn-lg btn-block mb-2'
      %>
    <% end %>
  <% end %>

  <h1>
    <%= button_to 'Start a new game', games_path, class: 'btn btn-primary btn-lg btn-block' %>
  </h1>

  <div class="mt-3">
    <p>Or join an existing game:</p>

    <%= form_with scope: :game, url: find_games_path, class: 'form-inline' do |form| %>

      <div class="form-group mb-0 mr-2">
        <%= form.text_field :slug, class: 'form-control', placeholder: 'Game code, like ABC123' %>
      </div>

      <%= form.submit 'Join', class: 'btn btn-primary ' %>
    <% end %>
  </div>
</div>
