<table class="table table-hover table-sm">
  <thead>
    <tr class="text-center">
      <th></th>
      <th scope="col">Total games</th>
      <th scope="col">Total rounds</th>
      <th scope="col">Total players</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Right now:</td>
      <td class="text-right"><%= @current_games.length %></td>
      <td class="text-right"><%= @current_games.sum { |g| g.rounds.length } %></td>
      <td class="text-right"><%= @current_games.sum(&:max_players) %></td>
    </tr>
    <tr>
      <td>In the last 24 hours:</td>
      <td class="text-right"><%= @games.length %></td>
      <td class="text-right"><%= @games.sum { |g| g.rounds.length } %></td>
      <td class="text-right"><%= @games.sum(&:max_players) %></td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr class="text-center">
      <th scope="col">Slug</th>
      <th scope="col">Started</th>
      <th scope="col">Last round</th>
      <th scope="col text-right">Rounds</th>
      <th scope="col text-right">Players</th>
      <th scope="col text-right">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <%= cache game do %>
        <tr class="<%= row_class(game) %>">
          <td class="text-center"><code><%= game.slug %></code></th>
          <td><%= time_ago_in_words game.rounds.last.created_at %> ago</td>
          <td><%= time_ago_in_words game.rounds.last.updated_at %> ago</td>

          <td class="text-right <%= 'font-weight-bold' if lots_of_rounds?(game) %>">
            <%= game.rounds.length %>
          </td>

          <td class="text-right <%= 'font-weight-bold' if lots_of_players?(game) %>">
            <%= game.max_players %>
          </td>

          <td><%= game.options.map(&:code).to_sentence %></td>
        </tr>
      <% end %>
   <% end %>
  </tbody>
</table>
