<!DOCTYPE html>
<html>
  <head>
    <title>Cards Against Humanity.online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'application/favicon' %>
  </head>

  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="/">Cards Against Humanity.online</a>
    </nav>

    <main role="main">
      <%= yield %>
    </main>

    <footer class="container small text-muted text-center">
      <div class='divider'></div>
      <p>
        Put together by
        <a href='http://kevinbongart.net'>Kevin Bongart</a>
        so he could play his beloved game with friends during tough times.

        Not affiliated with the official
        <a href="https://cardsagainsthumanity.com">Cards Against Humanity</a>
        company, but you should absolutely
        <a href='https://store.cardsagainsthumanity.com'>buy their game</a> because it's a lot more fun in person.

        Remixed under
        <a href='https://creativecommons.org/licenses/by-nc-sa/2.0/'>Creative Commons BY-NC-SA 2.0 license</a>.

        <% if @current_player %>
          <%= link_to 'Click here to sign out',
            @current_player,
            method: :delete,
            data: { confirm: 'Are you sure you want to sign out?' }
          %>.
        <% end %>
      </p>
    </footer>
  </body>
</html>
