<!DOCTYPE html>
<html>
  <head>
    <title>Cards Against Humanity.online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="/">Cards Against Humanity.online</a>
    </nav>

    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
